{% extends "::admin.html.twig" %}
{% block title %}Gestion du réseau ({{hub.fullname}}) | {{ parent() }}{% endblock %}
{% block gmapsjs %}
        <script type="text/javascript">
          function initialize()
          {
          
            var hub         = new google.maps.LatLng({{hub.masterCity.latitude}},{{hub.masterCity.longitude}});
            var barycenter  = new google.maps.LatLng({{barycenter.latitude}},{{barycenter.longitude}});
            var options     = {zoom:11,center:barycenter,mapTypeId:google.maps.MapTypeId.TERRAIN}
            var map         = new google.maps.Map(document.getElementById("map-canvas"),options);
            var polyOptions = {strokeColor:'#FF0000',strokeOpacity:0.5,strokeWeight:1,map:map};
            var iconstar = new google.maps.MarkerImage('/images/stars/star.png',new google.maps.Size(22,22),new google.maps.Point(0,0),new google.maps.Point(11,11));
            var iconflagyellow = new google.maps.MarkerImage('/images/flags/flag-yellow.png',new google.maps.Size(32, 32),new google.maps.Point(0,0),new google.maps.Point(5,30));
            {% for hubcity in hub.cities %}
            
            var marker{{hubcity.id}} = new google.maps.Marker({position:new google.maps.LatLng({{hubcity.latitude}},{{hubcity.longitude}}),map:map,title:"{{hubcity}}",icon:{{(hub.masterCity==hubcity)?'iconstar':'iconflagyellow'}}});
            var poly{{hubcity.id}} = new google.maps.Polyline(polyOptions).setPath([hub,marker{{hubcity.id}}.getPosition()]);
            google.maps.event.addListener(marker{{hubcity.id}}, 'click', function() {
              new google.maps.InfoWindow({content: '<div class="infowindow"><h2>{{hubcity}}</h2></div>'}).open(map,marker{{hubcity.id}});
            });
            {% endfor %}
            
          }
        </script>
{% endblock %}
{% block bodyonload %} onload="initialize()"{% endblock %}
{% block breadcrumb %}
        <ul class="xbreadcrumbs" id="breadcrumbs">
            <li>
               <a href="{{ path('popolitinero_admin_hubmanager_index') }}" class="home">Popolitinero</a>
               <ul>
                   <li><a href="#">Supervisation</a></li>
                   <li><a href="{{ path('popolitinero_admin_hubmanager_hub', { 'hubslug': 'cc-cognac' }) }}">CC Cognac</a></li>
                   <li><a href="{{ path('popolitinero_admin_hubmanager_hub', { 'hubslug': 'cc-jarnac' }) }}">CC Jarnac</a></li>
                   <li><a href="{{ path('popolitinero_admin_hubmanager_hub', { 'hubslug': 'cc-pays-santon' }) }}">CC Pays santon</a></li>
                   <li><a href="{{ path('popolitinero_admin_hubmanager_hub', { 'hubslug': 'cc-region-chateauneuf' }) }}">CC Région Châteauneuf</a></li>
               </ul>
            </li>
            <li class="current"><a href="{{ path('popolitinero_admin_hubmanager_hub', { 'hubslug': hubslug }) }}">{{hub.fullname}}</a>
              <ul>
                <li><a href="#">Caractéristiques</a></li>
                <li><a href="#">Arrêts de bus</a></li>
                <li><a href="#">Lignes de bus</a></li>
                <li><a href="#">Interconnexions</a></li>
                <li><a href="#">Perturbations</a></li>
                <li><a href="#">Usagers</a></li>
                <li><a href="#">Qualité continue</a></li>
                <li><a href="#">Ressources humaines</a></li>
                <li><a href="#">Flotte de bus</a></li>
                <li><a href="#">Marchés publics</a></li>
              </ul>
            </li>
        </ul>
{% endblock %}
{% block body %}
        <div id="map-canvas"></div>
{% endblock %}
